{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}


{% block content %}
    <div class="home">
        <h1>Главная страница</h1>
        <p>Мы очень рады и гордимся тем, что можем предложить самый технологичный ремонт
            композитной хоккейной клюшки на рынке. Мы тестировали различные способы ремонта,
            постоянно изучаем различные сочетания материалов для наиболее облегченного и
            качественноо ремонта клюшек. Наш ремонт уже оценили несколько хоккейных школ и
            мы сотрудничаем с {{ title }} ними. Миленушка</p>
        <button type="button" class="btn btn-outline-primary">Заказать звонок</button>
    </div>
{% endblock %}