{% extends 'main/layout.html' %}

{% block title %}Магазин{% endblock %}

{% block content %}
<br><p>Магазин хоккейных товаров <br><br>
    У нас можно приобрести восстановленные клюшки<br><br>
    Цены:<br>
-замена ладошек на крагах - 78 руб.    <br>
-замена одной ладошки - 45 руб.    <br>
-замена ладошки на вратарском блине - 55 руб.    <br>
-внутренний ремонт трубы - 64 руб.    <br>
-ремонт крюка - 68 руб.
-ремонт крюка (носочек) - от 43 рублей    <br>
-ремонт вратарской клюшки в пере и гитаре - 68 руб.    <br>

гарантия на ремонт трубы - 180 дней    <br>
гарантия на ремонт пера - 30 дней</p>   <br>
</p>
{% endblock %}