body {
    background: #2c2c2c;
    color: #fff
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2,5;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #5c5353;
}

aside img {
    width: 170px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

aside h3 {
    color: #1E90FF;
    font-size: 28px;
    margin-top: 80px;
    margin-left: 20px;
}

aside ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 5px;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 7px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #1E90FF;

    transform: scale(1.1, 1.1);
}



main {
    color: #fff;
    background: #303030;
    margin-top: 50px;
    text-align: center;
    color: #fff; /*цвет текста*/
    height: 92vh;
    float: left;
    width: 70%;
    font-size: 18px;
}
main .home {
    float: left;
    color: #fff;
/*    margin-top: 50px;*/
    text-align: center;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

main .repair {
    float: left;
    color: #fff;
    margin-left: 30px;
    text-align: left;
    width: 90%;
    font-size: 18px;

}
main .features {
/*    float: left;
    color: #fff;
    margin-top: 10 px;

    text-align: center*/;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    }

/* main .features_post {
        background: #5ace5a;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        }     */
main .img-thumbnail {
  width: 400px;
  border-radius: 10%;
  border: 3px solid #090202;
 }



